source {
	node lorem=#true ipsum=#true
	node lorem=1 ipsum=1
	node lorem=0
	node lorem=2

	node lorem="lorem"
	node lorem="lorem-ipsum"
	node lorem="ipsum"
}

query "[lorem]" {
	node lorem=#true ipsum=#true
	node lorem=1 ipsum=1
	node lorem=0
	node lorem=2

	node lorem="lorem"
	node lorem="lorem-ipsum"
	node lorem="ipsum"
}

query "[ipsum]" {
	node lorem=#true ipsum=#true
	node lorem=1 ipsum=1
}

query "[ipsum = #true]" {
	node lorem=#true ipsum=#true
}

query "[ipsum != #true]" {
	node lorem=1 ipsum=1
}

query "[lorem > #true]" { }
query "[lorem >= #true]" { }
query "[lorem < #true]" { }
query "[lorem <= #true]" { }
query "[lorem ^= #true]" { }
query "[lorem $= #true]" { }
query "[lorem *= #true]" { }

query "[lorem > 1]" {
	node lorem=2
}
query "[lorem >= 1]" {
	node lorem=1 ipsum=1
	node lorem=2
}
query "[lorem < 1]" {
	node lorem=0
}
query "[lorem <= 1]" {
	node lorem=1 ipsum=1
	node lorem=0
}
query "[lorem ^= 1]" { }
query "[lorem $= 1]" { }
query "[lorem *= 1]" { }

query "[lorem > lorem]" {
	node lorem="lorem-ipsum"
}
query "[lorem >= lorem]" {
	node lorem="lorem"
	node lorem="lorem-ipsum"
}
query "[lorem < lorem]" {
	node lorem="ipsum"
}
query "[lorem <= lorem]" {
	node lorem="lorem"
	node lorem="ipsum"
}
query "[lorem ^= lorem]" {
	node lorem="lorem"
	node lorem="lorem-ipsum"
}
query "[lorem $= lorem]" {
	node lorem="lorem"
}
query "[lorem *= lorem]" {
	node lorem="lorem"
	node lorem="lorem-ipsum"
}
