source {
	package {
		name foo
		version "1.0.0"
		dependencies platform=windows {
			winapi "1.0.0" path="./crates/my-winapi-fork"
		}
		dependencies {
			miette "2.0.0" dev=#true integrity=(sri)sha512-deadbeef
		}
	}
}

query "package >> name" {
	name foo
}

query "top() > package >> name" {
	name foo
}

query "dependencies" {
	dependencies platform=windows {
		winapi "1.0.0" path="./crates/my-winapi-fork"
	}
	dependencies {
		miette "2.0.0" dev=#true integrity=(sri)sha512-deadbeef
	}
}

query "dependencies[platform]" {
	dependencies platform=windows {
		winapi "1.0.0" path="./crates/my-winapi-fork"
	}
}

query "dependencies[prop(platform)]" {
	dependencies platform=windows {
		winapi "1.0.0" path="./crates/my-winapi-fork"
	}
}

query "dependencies > []" {
	winapi "1.0.0" path="./crates/my-winapi-fork"
	miette "2.0.0" dev=#true integrity=(sri)sha512-deadbeef
}
