on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

name: "Test"
jobs:
  validations:
    name: Install and validate dependencies
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: yarn

      - name: Install
        run: |
          yarn install --immutable

      - name: Check for duplicate dependencies (fix w/ `yarn dedupe`)
        run: |
          yarn dedupe --check

      - if: ${{ github.event_name == 'pull_request' }}
        name: Review Dependencies
        uses: actions/dependency-review-action@v4

      - name: 'Check for formatting errors (fix w/ "yarn prettier --write path/to/file")'
        run: |
          yarn prettier --check .

      - name: Build
        run: |
          yarn build

  tests:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node:
          - 18.x
          - 20.x
          - 22.x
          - 24.x

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: actions/setup-node@v6
        with:
          node-version: ${{matrix.node}}
          cache: yarn

      - name: Install
        run: |
          yarn install --immutable

      - name: Run tests
        run: |
          yarn test
